<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lab 6</title>
    </head>
    <body>
        <h1>Hello</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">Login</a></nav>
            <table style="padding: 10px;">
              <th style="padding: 10px;">name</th  >
              <th style="padding: 10px;">email</th>
           
            <%for(let i=0;i<users.length;i++){
                %>
              <tr  style="padding: 10px;"><td  style="padding: 10px;"> <%=users[i].name%></td><td> <%=users[i].email%></td></tr>
                <% } %>
         </table>
    </body>
    </html> 